
.banner{
    width: 100%;
    display: block;
    height: 225px;
    margin: 0;
  }
  

  .banner > .banner-img {
    border-radius: 5px;
    width: 100%;
    display: block;  
    height: 225px;
    
  }
   
   h2 {
      text-align: center;
      margin-bottom: -1px;
      top: -.05px;
      color:black;
      bottom: 0;
   } 
  
  body{
      background-color: lightgrey;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
  }

 
  .nav {
    background-color: lightsteelblue;
    color: #ffffff;
    list-style: none;
    text-align: right;
    padding: 10px 30px;
    margin: -5px 0 -10px 0;
    position: relative;          /* bottom; position to move from top to bottom */
    bottom: 0;
    
  }

  .nav > li {
    display: inline-block;
    padding: 0 9px;
    
  }
    
  .nav > li >a {
    text-decoration: none;
    color: #ffffff;
  }

  .nav > li > a:hover {
      color: cyan;
  }
  
  .name {
    color: #ffffff;
    float: left; 
    padding-left: 25px;
    font-size: 20px;
    font-weight: bold;
    bottom: 2px;                   /* bottom; position to move from top to bottom */
    position: absolute;         /* bottom; position to move from top to bottom */
      }                       

 /* ============================================================
                     Columns
  ==============================================================*/

  .protfolio {
    text-align: center;

  }

  .my-picture-img {
    border-radius: 30%;
    width: 10%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
header {
	padding: 0 15px;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column  {
	flex: 1;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
	div:nth-child(3n+1) {margin-left: 0;};
	:nth-last-child(3) { margin-right: 0; };
}


footer {
	padding: 0 15px;
}


@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}
    
  