* { box-sizing: border-box; }

#wrapper {                   /*makes content to be centered */
  width: 1342px;
  margin: 0 auto;
}

.banner{
    width: 100%;
    display: block;
    height: 225px;
    margin: 0;
  }
  

  .banner > .banner-img {
    border-radius: 5px;
    width: 100%;
    display: block;  
    height: 225px;
    
  }
   
   h2 {
      text-align: center;
      margin-bottom: -1px;
      top: -.05px;
      color:black;
      bottom: 0;
   } 
  
  body{
      background-color: lightgrey;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
  }

 
  .nav {
    background-color: lightsteelblue;
    color: #ffffff;
    list-style: none;
    text-align: right;
    padding: 10px 30px;
    margin: -5px 0 -10px 0;
    position: relative;          /* bottom; position to move from top to bottom */
    bottom: 0;
    
  }

  .nav > li {
    display: inline-block;
    padding: 0 9px;
    
  }
    
  .nav > li >a {
    text-decoration: none;
    color: #ffffff;
  }

  .nav > li > a:hover, .dropdown:hover .dropbtn {
      color: cyan;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 60px;
    background-color: inherit;
    font-family: inherit;
    margin: -14px 0 -10px 0;
    
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-right: 19px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

  .name {
    color: #ffffff;
    float: left; 
    padding-left: 25px;
    font-size: 20px;
    font-weight: bold;
    bottom: 2px;                   /* bottom; position to move from top to bottom */
    position: absolute;         /* bottom; position to move from top to bottom */
      }                       

 /* ============================================================
                     Columns
  ==============================================================*/

  .portfolio {
    text-align: center;
    padding-top: 10px;
  }

  .my-picture-img {
    border-radius: 30%;
    width: 10%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }

  .code-img {
    width: 30%;
    height: 30%;
    background-color: black;
    border-radius: 5px;
    left: 20px;
  }

  .code-img, 
    .code  {
    margin-left: 70px;
    padding-bottom: 20px;
  }

  .code-2 {
    width: 40%;
    height: 70%;
    border-radius: 5px;
    margin-left: 70px;
    padding-bottom: 20px;
    padding-top: 20px;

  }

  .tree {
   padding-left:  73px;
  
  }

  .smedia {
    margin-right: 90px;
    padding-left: 20px;
  }

  li, a {
    margin-left: 20px;
  }

 
   
.project-sunrise {
  width: 10%;
  height: 22%;
  border-radius: 5px;
  position: absolute;
  right: 27%;
  padding-bottom: 5px;
}

 .info {
  padding-top: 30%;
}

.sun {
  margin-right: 130px;
  right: 30px;
  
}

.bio {
  margin-left: 100px;
  padding-right: 60px;
}

  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
	padding: 0 15px;
}


@media all and (max-width: 1824px) {
   

    .nav {
     
      padding: 10px 30px;
      margin: -5px 0 -10px 0;
      
    }

    .project-sunrise {
      width: 10%;
      height: 22%;
      border-radius: 5px;
      padding-bottom: 15px;
    }
    
			}

      @media (max-width: 700px ) {
        #wrapper {
          display: block;
         
            }

        .smedia  {
          right:20px;
          }  
                            
        }     

      @media all and (min-width: 319px), 
      all and (max-width: 910px)  {
	 .column {
   
    margin: 0 0 5px 0;
  }
  
  #wrapper {
    display: block;
    
      }

  .dropdown-content {
    
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    
  }
  
  
}
    
