* { box-sizing: border-box; }

.banner{
    width: 100%;
    display: block;
    height: 225px;
    margin: 0;
  }
  

  .banner > .banner-img {
    border-radius: 5px;
    width: 100%;
    display: block;  
    height: 225px;
    
  }
   
   h2 {
      text-align: center;
      margin-bottom: -1px;
      top: -.05px;
      color:black;
      bottom: 0;
   } 
  
  body{
      background-color: lightgrey;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
  }

 
  .nav {
    background-color: lightsteelblue;
    color: #ffffff;
    list-style: none;
    text-align: right;
    padding: 10px 30px;
    margin: -5px 0 -10px 0;
    position: relative;          /* bottom; position to move from top to bottom */
    bottom: 0;
    
  }

  .nav > li {
    display: inline-block;
    padding: 0 9px;
    
  }
    
  .nav > li >a {
    text-decoration: none;
    color: #ffffff;
  }

  .nav > li > a:hover {
      color: cyan;
  }
  
  .name {
    color: #ffffff;
    float: left; 
    padding-left: 25px;
    font-size: 20px;
    font-weight: bold;
    bottom: 2px;                   /* bottom; position to move from top to bottom */
    position: absolute;         /* bottom; position to move from top to bottom */
      }                       

 /* ============================================================
                     Columns
  ==============================================================*/

  .protfolio {
    text-align: center;
    padding-top: 10px;
  }

  .my-picture-img {
    border-radius: 30%;
    width: 10%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }

  .code-img {
    width: 30%;
    height: 30%;
    background-color: black;
    border-radius: 5px;
    left: 20px;
  }

  .code-img, 
    .code  {
    margin-left: 120px;
    padding-bottom: 20px;
  }

  .code-2 {
    width: 40%;
    height: 50%;
    border-radius: 5px;
    margin-left: 120px;
    padding-bottom: 20px;
    padding-top: 20px;

  }

  .tree {
    left: 45px;
    padding-left: 135px;
  }

  .smedia {
    margin-left: 120px;
    
  }

  .prodjects {
    margin-left: 150px;
    
  }

  .info {
    
  }

.project-sunrise {
  width: 10%;
  height: 20%;
  border-radius: 5px;
  position: absolute;
  right: 600px;
  padding-bottom: 15px;
}

.sun {
  margin-right: 130px;
  right: 30px;
}

.bio {
  margin-left: 120px;
}

  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
	padding: 0 15px;
}


@media screen and (max-width: 980px) {
   .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		margin-right: 0;
    }
    
			}


@media screen and (max-width: 680px) {
	 .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}
    
  